#my_table{
   height: 10cm;
   width: 10cm;

}
#images{
    height: 5cm;
    width: 5cm;
}
body{
    background-color: antiquewhite;
}
h1{
    font-weight: 2em;
    font-style:italic;
    color: blue;
    
}

#table_2{
height: 10cm;
width: 1cm;

}